# Compiled output
target/
**/target/
dist/
**/dist/
*.class

# Package files
*.zip
*.jar
*.war

# Node
node_modules/
**/node_modules/
npm-debug.log
yarn-error.log

# Angular
.angular/
**/.angular/

# IDE and Editors
.idea/
*.iml
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Logs
*.log

# OS generated
.DS_Store
Thumbs.db
